p {
  margin-bottom: -1px;
}

h2 {
  font-family: "Roboto", Arial, sans-serif;
  color: #636363;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 10px;
}

#ThemeBtn {
  height: 40px;
  margin: 10px;
  background-color: black;
}

div {
  display: flex;
  justify-content: space-between;
}

.nightTheme {
  background-color: #252836;
}
